@import "tailwindcss";

.glasscard {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.4);

  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.08);
}